<center>
	<h3>New Work</h3>

<%= form_for @work, :remote => true, :html => { :id => 'workform' } do |form| %>
	<table border="2px" style="width:25%" class="table table-striped">
		<tr>
			<td>Name</td>
			<td><%= form.text_field :name, class: 'form-control' %></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><%= form.submit('Create') %></td>
		</tr>
	</table>
<% end %>
</center>

