<center>
<form action="/customers/update_password" method="post" data-remote=true>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<table style="width:40%">
  	<tr>
			<td>Current Password*</td>
  		<td><input type="password" name="current_password" value=""></td>
		</tr>
  	<tr>
			<td>New Password*</td>
  		<td><input type="password" name="new_password" value=""></td>
		</tr>
		<tr>
			<td>Confirm Password*</td>
 		 	<td><input type="password" name="confirm_password" value=""></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" class="btn btn-primary" value="Change Password"></td>
		</tr>
	</table>
</form>
</center>
<br>
